body {
  font-family: Arial, sans-serif;
}

th, td {
padding: 5px;
text-align: left;
}

td.bold {
  color: red;
}

svg {
  overflow: visible;
}

.header{
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  padding: 20px;
  padding-bottom: 10px;
  font-style: italic;
  font-weight: bolder;
}

.maplibregl-popup {
  max-width: 900px;
  font: 10px/16.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

span.bold {
  font-weight: 700;
}

  rect {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  padding: 5px;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  border: 1px solid black;
}

#container{
  justify-content: center;
  text-align: center;
  max-width: 80%;
  padding:30px;
  height: 75vh;
  margin: 0 auto;
  border: 1px white solid;
  padding-top: 0px;

}
#head_text{
  padding: 4px;
  padding-left: 170px;
  text-align: left;
  font-size: 1.3em;
  font-weight: bolder;
}
#legend_text{
  padding: 0;
  padding-left: 170px;
  text-align: left;
  color: rgb(89, 89, 89);
}

#container2{
  justify-content: center;
  text-align: center;
  max-width: 80%;
  padding:30px;
  padding-top: 0px;
  height: 90vh;
  margin: 0 auto;
  border: 1px white solid;
}

.text{
  font-size: 15px;
  color: red;
}

.content {
  padding: 50px 80px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  text-align: justify;
  background-color: white;
  color: #777;
  font-size: 1.25em;
}

.sticky {
  position: fixed;
  top: 0;
}

#range{
  display: flex;
  padding: 0;
  height: 20px;
  max-width: 7%;
}
.lego{
  display: flex;
  height: 4vh;
  padding: 5px;
  color: grey;
}